@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Slate-100 for light mode */
  --foreground: #0C3B2E; /* Dark green for text */
  --card-bg: #ffffff; /* White for card background */
  --navbar-bg: #2563eb; /* Teal-800 for light mode */
  --navbar-text: #ffffff; /* White text for navbar */
  --button-bg: #DB8C28;
  --text-color: #0C3B2E;
  --feature-bg: #ffffff;
  --feature-text: #0C3B2E;
}

.dark {
  --background: #0f172a; /* Slate-950 for dark mode */
  --foreground: #daf1de; /* Light green for text */
  --card-bg: #1e293b; /* Slate-800 for dark mode card */
  --navbar-bg: #1e40af; /* Darker teal for dark mode */
  --navbar-text: #daf1de; /* Light green text for navbar */
  --button-bg: #DB8C28;
  --text-color: #daf1de;
  --feature-bg: #1e293b;
  --feature-text: #daf1de;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  overflow-x: hidden;
}

#__next {
  min-height: 100dvh;
}

@layer utilities {
  .text-balance { text-wrap: balance; }
  .bg-navbar { background-color: var(--navbar-bg); }
  .text-navbar { color: var(--navbar-text); }
  .bg-card { background-color: var(--card-bg); }
  .bg-button { background-color: var(--button-bg); }
  .text-feature { color: var(--feature-text); }
  .bg-feature { background-color: var(--feature-bg); }
  .text-primary { color: var(--text-color); }
}
.custom-scrollbar::-webkit-scrollbar {
  width: 1rem;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(13, 148, 136, 0.4);
  border-radius: 3rem;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(13, 148, 136, 0.6);
}